<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>OrderMyFoodv1</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageMenuServlet</servlet-name>
		<display-name>ManageMenuServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.ManageMenuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewAllMenuServlet</servlet-name>
		<display-name>ViewAllMenuServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.ViewAllMenuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuCardServlet</servlet-name>
		<display-name>MenuCardServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.MenuCardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMenuServlet</servlet-name>
		<display-name>UpdateMenuServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.UpdateMenuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveCustomerServlet</servlet-name>
		<display-name>SaveCustomerServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.SaveCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlaceOrderServlet</servlet-name>
		<display-name>PlaceOrderServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.PlaceOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SeatingArrangementServlet</servlet-name>
		<display-name>SeatingArrangementServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.SeatingArrangementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<display-name>MainServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCategoryServlet</servlet-name>
		<display-name>AddCategoryServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.AddCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrdersServlet</servlet-name>
		<display-name>OrdersServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.OrdersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewOrderDetails</servlet-name>
		<display-name>ViewOrderDetails</display-name>
		<description></description>
		<servlet-class>pkg.servlet.ViewOrderDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderCounterServlet</servlet-name>
		<display-name>OrderCounterServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.OrderCounterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderStatusServlet</servlet-name>
		<display-name>OrderStatusServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.OrderStatusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportsServlet</servlet-name>
		<display-name>ReportsServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.ReportsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SettingsServlet</servlet-name>
		<display-name>SettingsServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.SettingsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<display-name>ChangePasswordServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeUserNameServlet</servlet-name>
		<display-name>ChangeUserNameServlet</display-name>
		<description></description>
		<servlet-class>pkg.servlet.ChangeUserNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageMenuServlet</servlet-name>
		<url-pattern>/ManageMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllMenuServlet</servlet-name>
		<url-pattern>/ViewAllMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuCardServlet</servlet-name>
		<url-pattern>/MenuCard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMenuServlet</servlet-name>
		<url-pattern>/UpdateMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveCustomerServlet</servlet-name>
		<url-pattern>/SaveCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlaceOrderServlet</servlet-name>
		<url-pattern>/PlaceOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SeatingArrangementServlet</servlet-name>
		<url-pattern>/SeatingArrangement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCategoryServlet</servlet-name>
		<url-pattern>/AddCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrdersServlet</servlet-name>
		<url-pattern>/Orders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewOrderDetails</servlet-name>
		<url-pattern>/ViewOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderCounterServlet</servlet-name>
		<url-pattern>/OrderCounter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderStatusServlet</servlet-name>
		<url-pattern>/OrderStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportsServlet</servlet-name>
		<url-pattern>/Reports</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SettingsServlet</servlet-name>
		<url-pattern>/Settings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeUserNameServlet</servlet-name>
		<url-pattern>/ChangeUserName</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>Main</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
